[user]
	name = Chris McKenzie
	email = kristopolous@yahoo.com

[diff]
    external = git_diff_wrapper
[pager]
    diff =

[alias]
   log-json = log --pretty=format:'\"%h\": {%n  \"commit\": \"%H\",%n  \"author\": \"%an <%ae>\",%n  \"date\": \"%ad\",%n  \"message\": \"%s\"%n}'
