[user]
	name = Chris McKenzie
	email = kristopolous@yahoo.com

[pager]
    diff = 

[diff]
    external = git_diff_wrapper

[alias]
   log-json = log --pretty=format:'\"%h\": {%n  \"commit\": \"%H\",%n  \"author\": \"%an <%ae>\",%n  \"date\": \"%ad\",%n  \"message\": \"%s\"%n}'
[push]
	default = matching
