!black
xterm*color0:            #393939
xterm*color8:            #474747
!!red
xterm*color1:            #da4939
xterm*color9:            #ff6c5c
!!green
xterm*color2:            #519f50
xterm*color10:           #a5c261
!!yellow
xterm*color3:            #cc7833
xterm*color11:           #bc9458
!!blue
xterm*color4:            #6d9cbe
xterm*color12:           #d0d0ff
!!magenta
xterm*color5:            #9f5079
xterm*color13:           #a761c2
!!cyan
xterm*color6:            #435d75
xterm*color14:           #6e98a4
!!white
xterm*color7:            #dddddd
xterm*color15:           #dddddd

*faceName: Inconsolata
*VT100.utf8Fonts.font1:	-misc-fixed-medium-r-normal--4-40-75-75-c-50-iso10646-1
*VT100.utf8Fonts.font2:	-misc-fixed-medium-r-normal--5-50-75-75-c-50-iso10646-1
*VT100.utf8Fonts.font3:	-misc-fixed-medium-r-normal--6-60-75-75-c-50-iso10646-1
*VT100.utf8Fonts.font:	-misc-fixed-medium-r-normal--7-70-75-75-c-50-iso10646-1
*VT100.utf8Fonts.font4:	-misc-fixed-medium-r-normal--9-90-75-75-c-60-iso10646-1
*VT100.utf8Fonts.font5:	-misc-fixed-medium-r-normal--12-120-75-75-c-70-iso10646-1
*VT100.utf8Fonts.font6:	-misc-fixed-medium-r-normal--13-130-75-75-c-80-iso10646-1
